prefer-no-csd

include "rules.kdl"
include "autostart.kdl"
include "keybindings.kdl"
include "ui.kdl"
include "output.kdl"

// ========================================
// INPUT CONFIGURATION
// ========================================

environment {
    GTK_THEME "Adwaita-dark"
}

input {
    focus-follows-mouse max-scroll-amount="0%"
    touch
    tablet
    keyboard {
        repeat-delay 350
        repeat-rate 50
        numlock
        track-layout "global"
        xkb {
                layout ""
                model ""
                rules ""
                variant ""
            }
    }

    touchpad {
        dwt
        tap
        natural-scroll
        accel-profile "flat"
        click-method  "clickfinger"
    }

    mouse {
    }
    trackpoint {
    }
}


// ========================================
// OUTPUT CONFIGURATION
// ========================================
// ========================================
// LAYOUT SETTINGS
// ========================================

// ========================================
// STARTUP APPLICATIONS
// ========================================

spawn-sh-at-startup "~/.config/sway/scripts/swww-restore.sh"
spawn-sh-at-startup "vicinae server"
spawn-at-startup "waybar"
spawn-at-startup "dex" "-a" "-e" "niri"
spawn-at-startup "sh" "-c" "echo started > /tmp/niri-startup-test"

spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

spawn-at-startup "mako"

spawn-at-startup "sh" "-c" "sleep 1 && foot --server"

spawn-at-startup "wl-paste --type text --watch cliphist store"
spawn-at-startup "wl-paste --type image --watch cliphist store"

spawn-at-startup "swww-daemon"
spawn-at-startup "awww-daemon"

spawn-at-startup "nwg-drawer -r -c 7 -is 90 -mb 10 -ml 50 -mr 50 -mt 10"

spawn-at-startup "kanshi"
spawn-at-startup "swayidle" "-w" "before-sleep" "gtklock -d"
spawn-at-startup "systemctl --user import-environment WAYLAND_DISPLAY XDG_RUNTIME_DIR DBUS_SESSION_BUS_ADDRESS"

// ========================================
// HOTKEY OVERLAY
// ========================================

hotkey-overlay {
    skip-at-startup
}

// ========================================
// SCREENSHOT SETTINGS
// ========================================

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// ========================================
// ANIMATIONS
// ======================================== 
