binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+F1 { spawn "gtklock"; }

    Alt+D {spawn "fuzzel";}

    Alt+Tab {
        spawn-sh "niri msg windows | fuzzel --dmenu | awk '{print $1}' | xargs -r niri msg focus-window"
    }

    Alt+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Alt+Shift+f hotkey-overlay-title="Open a browser: google chrome" {spawn "google-chrome-stable";}
    Alt+E hotkey-overlay-title="Open File Manager: thunar" { spawn "thunar"; }
    Alt+B hotkey-overlay-title="Open Browser: google-chrome-stable" { spawn "google-chrome-stable"; }
    Alt+T hotkey-overlay-title="Open Text Editor: mousepad" { spawn "mousepad"; }
    Alt+C hotkey-overlay-title="Open Calculator: galculator" { spawn "galculator"; }
    Mod+D hotkey-overlay-title="Run an Application: walker" { spawn "fuzzel"; }
    Mod+Space repeat=false { spawn "vicinae" "toggle"; }
    Alt+Space { toggle-window-floating; }

    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "pamixer" "-ui" "2"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "pamixer" "-ud" "2"; }
    XF86AudioMute        allow-when-locked=true { spawn "pamixer" "--toggle-mute"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "pamixer" "--default-source" "--toggle-mute"; }

    Mod+Shift+N { spawn "makoctl" "dismiss" "-a"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioNext { spawn "playerctl" "next"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }

    Mod+O repeat=false { toggle-overview; }
    Alt+Shift+Q repeat=false { close-window; }

    Alt+Left  { focus-column-left; }
    Alt+Down  { focus-window-down; }
    Alt+Up    { focus-window-up; }
    Alt+Right { focus-column-right; }
    Alt+H     { focus-column-left; }
    Alt+J     { focus-window-down; }
    Alt+K     { focus-window-up; }
    Alt+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }



    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Alt+i { focus-workspace 1; }
    Alt+o { focus-workspace 2; }
    Alt+p { focus-workspace 3; }
    Alt+4 { focus-workspace 4; }
    Alt+5 { focus-workspace 5; }
    Alt+6 { focus-workspace 6; }
    Alt+7 { focus-workspace 7; }
    Alt+8 { focus-workspace 8; }
    Alt+9 { focus-workspace 9; }
    Alt+Shift+i { move-column-to-workspace 1; }
    Alt+Shift+o { move-column-to-workspace 2; }
    Alt+Shift+p { move-column-to-workspace 3; }
    Alt+Shift+4 { move-column-to-workspace 4; }
    Alt+Shift+5 { move-column-to-workspace 5; }
    Alt+Shift+6 { move-column-to-workspace 6; }
    Alt+Shift+7 { move-column-to-workspace 7; }
    Alt+Shift+8 { move-column-to-workspace 8; }
    Alt+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    "Mod+S" {
        spawn "sh" "-c" "grim -g \"$(slurp)\" - | swappy -f -"
    }

    "Mod+Shift+S" {
        spawn "sh" "-c" "$HOME/.config/sway/scripts/screenshot_window.sh"
    }

    "Mod+Ctrl+S" {
        spawn "sh" "-c" "$HOME/.config/sway/scripts/screenshot_display.sh"
    }


    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }

    Alt+Ctrl+V {
        spawn-sh "cliphist list | fuzzel -d -w 90 -l 30 | cliphist decode | wl-copy"
    }

    Alt+Ctrl+X {
        spawn-sh "cliphist list | fuzzel -d -w 88 -l 30 -t cc9393ff -S cc9393ff -p 'Select an entry to delete it from cliphist:' | xargs -r cliphist delete"
    }
    Mod+Ctrl+X {
        spawn-sh "cliphist list | fuzzel -d -w 90 -l 30 | cliphist delete"
    }

    Mod+G {
        spawn "sh" "-c" "$HOME/.config/niri/scripts/layout-2x2-horizontal.sh"
    }

    Mod+Alt+M {
        spawn "sh" "-c" "$HOME/.config/niri/scripts/set-master-stack.sh"
    }

}
