* {
    font-family: 'CaskaydiaMono Nerd Font';
    font-weight: bold;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0); /* translucent black */
    margin-left: 20px;    /* space from the left screen edge */
    margin-right: 20px;   
}

window > box {
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

#window {
    background-color: rgba(0,0,0,1);
    /* border: 1px solid rgba(255,255,255,0.2); */
    border-radius: 2px;
    padding: 4px 8px;       /* reduced from 5px 10px */
    margin: 2px 4px;
}

window#waybar.empty #window {
    background: rgba(12, 12, 12, 0);
    border: 0px
}

.modules-left,
.modules-right,
.modules-center {
    padding: 2px;           /* slightly reduced */
}

#workspaces {
    background-color: rgba(0,0,0,1);
    /* border: 1px solid rgba(255,255,255,0.2); */
    border-radius: 4px;
    padding: 2.5px 5px;     /* smaller height */
    margin: 2px 4px;
}

#workspaces button {
    min-height: 0;
    padding: 0 6px;         /* slightly smaller width */
    margin-right: 2px;
    color: #f5e0dc;
}

#workspaces button.urgent {
    color: #f5e0dc;
    animation: blink 0.5s linear infinite alternate;
}

#workspaces button.empty {
    color: #cdd6f4;
}

#workspaces button.visible {
    color: #89dceb;
}

#workspaces button.active {
    color: #fab387;
}

@keyframes blink {
    to {
        color: #202020;
        background-color: #dcf5f3;
    }
}

#custom-launcher,
#custom-power,
#cpu,
#bluetooth,
#memory,
#wireplumber,
#pulseaudio,
#clock,
#network,
#tray,
#battery,
#backlight {
    background-color: rgba(0,0,0,1);
    /* border: 1px solid rgba(255,255,255,0.2); */
    border-radius: 2px;
    padding: 3px 6px;       /* smaller vertical padding */
    margin: 2px 2px;
}

/* Individual color overrides */
#custom-launcher { color: #89dceb; padding-right: 12px }
#custom-power { color: #89dceb; padding-right: 12px }
#cpu, #bluetooth { color: #f2cdcd; }
#memory { color: #fab387; }
#wireplumber, #pulseaudio { color: #f9e2af; }
#pulseaudio.muted { color: #f38ba8; }
#clock { color: #94e2d5; }
#network, #battery, #backlight { color: #cdd6f4; }
#network.disabled { color: #f38ba8; }
